@font-face {
  font-family: 'Roboto Slab';
  src: url('fonts/roboto-slab.woff2') format('woff2'),
       url('fonts/roboto-slab.woff') format('woff');
  font-weight: 1;
  font-style: normal;
}
.header2 {
    color: #000;
    width: 100%;
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.header {

  align-items: center;
  position: absolute;
  top: 16px;
  left: 23%;
}

.middle{
  height: auto;
}

.nav {
  margin-top: 67px;
  margin-left: 300px; 
}

.nav li {
  list-style: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  margin-right: 20px;
  margin-left: 20px; 
  color: black;
}

#slider {
  height: 850px;  
}


.fa {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: black; 
    cursor: pointer;
}

.fa:hover {
    color: #555; 
}





input {
    width: 200px; 
    height: 30px;
    padding: 0 35px 0 10px; 
    border-radius: 20px;

}
.Search {
    position: absolute;
    top: 20%; 
    left: 73%; 

}
.fa {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: black; 
    cursor: pointer;
}

.fa:hover {
    color: #555; 
}








.top-six {
  text-align: center;
  padding: 25px 0;
  max-width: 2500px;
}

.top-six ul {
  margin: 0;
}

.top-six ul li {
  display: inline-block;
  width: 13%;
  vertical-align: top;
}

.top-six ul li div {
  color: #324950;
  font-size: 19px;
  margin: 15px 20px 0;
}


.home-big .title {
  font-size: 64px;
  line-height: 64px;
  color: #324950;
  margin: 10px 0 0;
}




.col-xs-6 {
    width: 50%; 
    float: left; 
    box-sizing: border-box; 
  text-align: center;
}

.col-xs-6 img {
    max-width: 100%; 
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #324950;
}

p {
    color: #324950;
}















.categories2 {
  text-align: center;
}

.categories2 img {
  display: block;
  margin: 0 auto;

}

.categories2 p {
  text-align: left;
  max-width: 800px;
  margin: 50px auto 60px;

}

.categories2 .title2 {
  font-size: 55px;
  line-height: 120px;
  font-weight: bold;
  color: #324950;
  margin: 0 0 50px;
}

.special-paragraph {
  position: relative; 
  padding-left: 20px; 
}

.special-paragraph::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px; 
  height: 100%; 
  background-color: red;
}





.categories .title {
  font-size: 64px;
  line-height: 64px;  
  font-weight: bold;
  color: #324950;
  margin: 0 0 50px;
}
.categories {
  margin: 0 auto; 
  max-width: 2000px; 
  color: #324950;
  text-align: center; 
}

.cat {
  display: inline-block; 
  margin: 0 auto;
  list-style: none;
  margin-bottom: 40px; 
}

.categories .cat .name li::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px; 
  background-color: green; 
  margin-top: 10px; 
  margin-bottom: 10px; 

}
.categories .title,
.categories .cat .name li  {
  font-family: 'Roboto Slab', sans-serif; 
}

.categories .cat .name li {
  color: green; 
    list-style: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  margin-right: 35px;

}




.wrapper2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 100px;
  width: 70%;
  margin: 0 auto;
  padding: 10px;
}

.program-title {
  font-size: 20px;
  margin-bottom: 15px;
  position: relative;
}

.program-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: #000; 
}











.products__container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-bottom: 30px; 
}

.productBlock {
    width: calc(33.33% - 40px); 
    margin-right: 30px;
    margin-bottom: 30px;
}

.productBlock:nth-child(3n+1) {
    clear: both; 
}

.name {
    color: green;
    font-weight: bold; 
    margin-bottom: 10px; 
    text-align: center;
    font-size: 20px; 
}

.name2 {
    color: green;
    text-align: center;
    margin-bottom: 30px; 
    font-size: 16px; 
}


.productBlock .name a,
.productBlock .name2 a {
    color: #57984C;
}

.productBlock button {
    color: #EB5757;
    font-size: 18px;
    font-weight: bold;
    padding: 0 22px 0 0;
    cursor: pointer;
    border: none;
}


















.fotter-credit {
  text-align: center;
}

.footer .row {
  background: #2d3f45;
  padding: 25px 400px;
  text-align: center;
}

.footer .row ul {
  margin: 0;
}

.footer .copy {
  float: left;
  font-size: 16px;
  margin: 20px 0 0;
}

.footer .fotter-credit {
  font-size: 14px;
  padding: 15px 0;
  color: #b9b9b9;
  background: #324950;
}

#bottom-menu .nav.menu li {
  display: inline-block;
  margin-right: 10px;
  color: white;
}

#bottom-menu ul {
  display: inline-block;
  text-align: center;
}

#bottom-menu ul li {
  display: inline-block;
  margin-left: 10px;
}





